body {
    /* background-color: black; */
}

.row [class*=col-] {
    height: 200px;
    background-color: #FFC0CB;
    text-align: center;
    border: 1px solid black;
}

span {
    width: 100%;
    line-height: 200px;
    vertical-align: middle;
}