.row [class*=col-] {
    background-color: #FFC0CB;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.edge {
    border: 1px solid black;
    height: 200px;
    padding: 3px;
}

.row>.nest[class*=col] {
    align-items: stretch;
}

.row>.nested {
    min-height: 100%;
    background-color: #F07F80;
    border: 1px solid white;
}