.row [class*=col-] {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 100px; */
}

.col-1 {
    border: 1px solid black;
}

.hgt {
    width: 100%;
    padding-bottom: 100%;
}

/* #region Colors */

.c_blk {
    background-color: black;
}

.c_red {
    background-color: crimson;
}

.c_grn {
    background-color: limegreen;
}

.c_orn {
    background-color: orangered;
}

.c_brd {
    background-color: #666666;
}

.c_play {
    background-color: #141414;
}

/* #endregion */